<section class="contacts" [class.contact-selected]="selectedContact()">
    <div class="contact_list">
        <app-contacts-list
            [selectedId]="selectedId()"
            (selectedContact)="contactWasSelected($event)"
            (addContact)="openAddForm(contactsDialog)"
        ></app-contacts-list>
    </div>
    <div class="contact_card">
        <app-contacts-card
            [receivedContact]="selectedContact()"
            (deleteRequested)="deleteDialog.showModal()"
            (editContact)="openEditForm(contactsDialog)"
            (back)="selectedId.set(undefined)"
        ></app-contacts-card>
    </div>
</section>

<!-- https://blog.angulartraining.com/how-to-create-a-simple-modal-dialog-with-angular-277ea7f96da1 -->
<dialog #contactsDialog class="contact_form">
    <app-contacts-form
        (closeForm)="closeForm(contactsDialog)"
        (deleteRequested)="deleteDialog.showModal()"
        (updatedContact)="contactWasEdited($event)"
        [receivedModeIsEdit]="isEditMode"
        [contactToEdit]="contactToEdit()"
    ></app-contacts-form>
</dialog>

<dialog #deleteDialog class="confirm_dialog">
    <app-contacts-delete
        (confirm)="confirmDelete(deleteDialog, contactsDialog)"
        (cancel)="deleteDialog.close()"
    ></app-contacts-delete>
</dialog>


<!-- (deleteRequested)="deleteDialog.showModal()" -> opens deleteDialog via inline code in html template -->