@use '../../../../public/styles/main' as *;

.contacts {
    height: 100%;
    width: 100%;
    @include d-flex;
}
.contact_card {
    // width: 70%;
    flex: 1;
    height: 100%;
    @include respond-max(sm) {
        display: none;
    }
}
.contact_list {
    background: white;
    height: 100%;
    width: 35%;
    min-width: 275px;
    @include respond-max(sm) {
        width: 100%;
    }
    @include drop-shadow;
}

.contact_form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1210px;
    height: 590px;
    margin: auto;
    border-radius: 30px;

    @include respond(zero, sm){
        position: fixed;
        width: 100dvw;
        height: 100vh;
        top: 0;
        left: 0;
        transform: none;
        border-radius: 0;
        z-index: 1000;
    }
}
    .confirm_dialog{
        @include modal;
    }