@use '../../../../public/styles/main' as *;

.contacts {
    height: 100%;
    width: 100%;
    border: 2px solid purple;
    @include d-flex;
}
.contact_card {
    // width: 70%;
    flex: 1;
    height: 100%;
    @include respond-max(sm) {
        display: none;
    }
}
.contact_list {
    background: white;
    height: 100%;
    width: 35%;
    min-width: 275px;
    @include respond-max(sm) {
        width: 100%;
    }
    @include drop-shadow;
}

.contact_form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 1210px;
    height: 590px;

    margin: 0;
    padding: 0;
    border: none;
    border-radius: 30px;

    @include respond(sm, l) {
        width: 90vw;
        height: 590px;
    }

    @include respond(zero, sm) {
        position: fixed;
        top: 0;
        left: 0;
        // inset: 0;

        width: 100vw;
        height: 100vh;

        max-width: none;
        max-height: none;

        margin: 0;
        padding: 0;
        border: none;
        border-radius: 0;

        transform: none;
    }
}
.confirm_dialog {
    @include modal;
}
