<section class="board">
    <div class="board-header">
        <h1>Board</h1>

        <div class="board-header-actions">
            <div class="search-field">
                <label for="find"></label>
                <input
                    id="find"
                    name="find"
                    type="search"
                    placeholder="Find task"
                    aria-label="Find task"
                />
                <div class="divider" aria-hidden="true"></div>
                <img src="icons/search.svg" alt="search icon" />
            </div>

            <button class="add-task-btn">
                <span>Add task</span>
                <span>&#43;</span>
            </button>
        </div>
    </div>

    <div class="board-columns">
        @for (column of columns; track column.status) {
            <app-column-comp [title]="column.title" [status]="column.status"></app-column-comp>
        }
    </div>
</section>
