@use '../../../../../public/styles/main' as *;

.column {
    // width is determinded by flex: 1 on app-column-comp that is why 100% works
    width: 100%;
    // width: 250px;
    height: 100%;
    @include d-flex(column, flex-start, flex-start, 30px);

    .column-header {
        width: 100%;
        @include d-flex(row, center, space-between);
        
        @include respond(l, desktop) {
            height: 40px;
            flex-shrink: 0;
            
        }

        h2 {
            @include font(20px, 700, 120%);
            color: $blue-main;

            @include respond(m, desktop) {
                @include font(16px, 700, 120%);
            }
        }

        .add-btn {
            width: 24px;
            height: 24px;
            border: solid 2px $blue-main;
            border-radius: 8px;
            @include d-flex;

            span {
                font-size: 20px;
                color: $blue-main;
                padding-bottom: 2px;
            }
        }
    }

    .column-tasks {
        width: 100%;
        @include d-flex(column, flex-start, flex-start, 15px);

        overflow-y: auto;
        padding-bottom: 16px;

        @include scrollbar;

        .task-card {
            background: white;

            width: 100%;
            // min-width: 180px;
            min-height: 100px;
            height: fit-content;

            padding: 16px;
            border-radius: 24px;

            @include drop-shadow-task-card;
            @include d-flex(column, flex-start, flex, 15px);

            flex-shrink: 0;

            .card-category {
                color: $white;
                padding: 4px 16px;
                border-radius: 8px;

                &.user-story {
                    background: $blue-category;
                }

                &.technical-task {
                    background: $green-category;
                }

                //       @include respond(m, l) {
                //     @include font(14px);
                // }
            }

            .card-content {
                @include d-flex(column, flex-start, flex, 10px);

                h3 {
                    @include font(16px, 700, 120%);
                }

                .task-description {
                    color: $grey-medium;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                }
            }

            .card-subtasks {
                @include d-flex(row, center, space-between, 8px);
                width: 100%;

                .bar-wrapper {
                    flex: 1;

                    .full-bar {
                        width: 100%;
                        height: 10px;
                        background-color: $grey-light;
                        border-radius: 30px;

                        .percentage {
                            height: 100%;
                            // width: 80%;
                            background-color: $blue-taskbar;
                            border-radius: 30px;
                        }
                    }
                }
            }

            .card-footer {
                width: 100%;
                height: fit-content;
                @include d-flex(row, center, space-between);

                .card-assignees {
                    @include d-flex;

                    .assignee {
                        width: 36px;
                        height: 36px;

                        border-radius: 50%;
                        border: 2px solid $white;
                        background: pink;

                        @include d-flex;

                        @include font(16px, 400, 120%);

                        color: $white;

                        &:not(:first-child) {
                            margin-left: -12px;
                        }
                    }

                    .remaining-assignees {
                        margin-left: 6px;
                    }

                    .card-priority {
                        height: 32px;
                        width: 32px;
                    }
                }
            }
        }

        .empty-column {
            width: 100%;
            height: fit-content;
            padding: 20px 10px;
            border: $grey-medium 1px dotted;
            border-radius: 10px;
            background: $grey-bright;
            color: $grey-medium;
            @include d-flex;
        }
    }
}
