<section class="column">
    <div class="column-header">
        <h2>{{ title() }}</h2>

        @if (status() !== TaskStatus.Done) {
            <button class="add-btn" type="button" aria-label="Add task" (click)="addTask()">
                <span>&#43;</span>
            </button>
        }
    </div>

    <div
        class="column-tasks"
        cdkDropList
        [cdkDropListData]="columnTasks()"
        (cdkDropListDropped)="taskDropped.emit($event)"
    >
        @if (columnTasks()?.length) {
            @for (task of columnTasks(); track task.id) {
                <article
                    class="task-card"
                    (click)="selectTask(task)"
                    cdkDrag
                    [cdkDragData]="task"
                    cdkDragPreviewContainer="parent"
                >
                    <div
                        class="card-category"
                        [class]="taskDetailService.getCategory(task.category)"
                    >
                        <p>{{ task.category }}</p>
                    </div>

                    <div class="card-content">
                        <h3>{{ task.title }}</h3>
                        <p class="task-description">{{ task.description }}</p>
                    </div>

                    <div class="card-subtasks">
                        <div class="bar-wrapper">
                            <div class="full-bar">
                                <div class="percentage"></div>
                            </div>
                        </div>
                        <p>0/{{ taskDetailService.getSubtaskCount(task) }} Subtasks</p>
                    </div>

                    <div class="card-footer">
                        <div class="card-assignees">
                            @for (
                                assignee of taskDetailService.getDisplayedAssignees(task);
                                track assignee.id
                            ) {
                                <div class="assignee" [style.background]="assignee.profile_color">
                                    <span>{{ assignee.name | initials }}</span>
                                </div>
                            }

                            @if (taskDetailService.getRemainingAssigneeCount(task) > 0) {
                                <div class="remaining-assignees">
                                    <span
                                        >+{{
                                            taskDetailService.getRemainingAssigneeCount(task)
                                        }}</span
                                    >
                                </div>
                            }
                        </div>

                        @if (taskDetailService.getPriorityIcon(task.priority)) {
                            <img
                                class="card-priority"
                                [src]="taskDetailService.getPriorityIcon(task.priority)"
                                alt="priority icon"
                            />
                        }
                    </div>
                </article>
            }
        } @else {
            <div class="empty-column">
                <p>{{ getEmptyMessage() }}</p>
            </div>
        }
    </div>
</section>
