
<section class="contact-list-wrapper">
    @for (item of dbService.contacts(); track item.id; let i = $index) {
        <div class="contact-preview-card">
            <div class="profile-picture">
                <p class="initials">WM</p>
            </div>
            <div class="contact-details">
                <p>{{ item.name }}</p>
                <a href="mailto:">{{ item.email }}</a>
            </div>
            <button (click)="selectedContact.emit()">C</button>
        </div>
    }
<!--     <button (click)="sortArray()">HHHH</button> -->
</section>
