<section class="contact-list-wrapper">
    <button (click)="addContact.emit()">Add Contact</button>

    @for (item of dbService.groupedContacts(); track item[0]) {
        <div class="contact-group">
            <h3>{{ item[0] }}</h3>
        </div>

        @for (contact of item[1]; track contact.id) {
            <div class="contact-preview-card" (click)="selectedContact.emit(contact)">
                <div class="profile-picture">
                    <p class="initials">WM</p>
                </div>
                <div class="contact-details">
                    <p class="contact-detail-text">{{ contact.name }}</p>
                    <p class="contact-detail-text">{{ contact.email }}</p>
                </div>
            </div>
        }
    }
</section>
