            <div class="dialog_wrapper">
                <h2>Are you sure you want to delete this contact?</h2>
                <div class="confirm_actions">
                    <button
                        type="button"
                        class="delete_btn"
                        (click)="confirm.emit()"
                    >
                        Delete
                    </button>
                    <button type="button" class="keep_btn" (click)="cancel.emit()">
                        Keep contact
                    </button>
                </div>
            </div>
