<div class="content-restriction">
    <header class="signup-header">
        <img src="img/join-logo.svg" alt="join logo" />
    </header>

    <main>
        <section class="signup-box">
            <div class="signup-wrapper">
                <div class="signup-header">
                    <button class="back-to-login-btn" (click)="goBackToLogin()">
                        <img src="icons/arrow-back-blue.svg" />
                    </button>
                    <div class="signup-heading">
                        <h1>Sign up</h1>
                        <div class="divider"></div>
                    </div>
                </div>

                <form class="signup-form signup" [formGroup]="signupForm" (ngSubmit)="signUp()">
                    <div class="input-fields">
                        <div class="input-field-div">
                            <label for="name"></label>
                            <div class="input-wrapper">
                                <input
                                    id="name"
                                    class="input-field cursor"
                                    type="text"
                                    name="name"
                                    placeholder="Name"
                                    formControlName="name"
                                />
                                <img src="icons/person.svg" alt="person icon" />
                            </div>

                            @if (
                                signupForm.get('name')?.hasError('required') &&
                                signupForm.get('name')?.touched
                            ) {
                                <p class="red">This field is required.</p>
                            } @else {
                                <p class="hidden">.</p>
                            }
                        </div>

                        <div class="input-field-div">
                            <label for="email"></label>
                            <div class="input-wrapper">
                                <input
                                    id="email"
                                    class="input-field cursor"
                                    type="email"
                                    name="email"
                                    placeholder="Email"
                                    formControlName="email"
                                />
                                <img src="icons/mail.svg" alt="join logo" />
                            </div>

                            @if (
                                signupForm.get('email')?.hasError('required') &&
                                signupForm.get('email')?.touched
                            ) {
                                <p class="red">This field is required.</p>
                            } @else {
                                <p class="hidden">.</p>
                            }
                        </div>

                        <div class="input-field-div">
                            <label for="phone"></label>
                            <div class="input-wrapper">
                                <input
                                    id="phone"
                                    class="input-field cursor"
                                    type="tel"
                                    name="phone"
                                    placeholder="Phone"
                                    formControlName="phone"
                                />
                                <img src="icons/call.svg" alt="phone icon" />
                            </div>
                            @if (
                                signupForm.get('phone')?.hasError('required') &&
                                signupForm.get('phone')?.touched
                            ) {
                                <p class="red">This field is required.</p>
                            } @else {
                                <p class="hidden">.</p>
                            }
                        </div>

                        <div class="input-field-div">
                            <label for="password"></label>
                            <div class="input-wrapper">
                                <input
                                    id="password"
                                    class="input-field cursor"
                                    type="password"
                                    name="password"
                                    placeholder="Password"
                                    formControlName="password"
                                />
                                <img src="icons/lock.svg" alt="join logo" />
                            </div>

                            @if (
                                signupForm.get('password')?.hasError('required') &&
                                signupForm.get('password')?.touched
                            ) {
                                <p class="red">This field is required.</p>
                            } @else if (
                                signupForm.get('password')?.hasError('pattern') &&
                                signupForm.get('password')?.touched
                            ) {
                                <p class="red">
                                    Min. 8 characters, including uppercase, lowercase, number (0-9)
                                    and special character.
                                </p>
                            } @else {
                                <p class="hidden">.</p>
                            }
                        </div>

                        <div class="input-field-div">
                            <label for="confirm-password"></label>
                            <div class="input-wrapper">
                                <input
                                    id="confirm-password"
                                    class="input-field cursor"
                                    type="password"
                                    name="confirm-password"
                                    placeholder="Confirm password"
                                    formControlName="confirmPassword"
                                />
                                <img src="icons/lock.svg" alt="join logo" />
                            </div>
                            @if (
                                signupForm.get('confirmPassword')?.hasError('required') &&
                                signupForm.get('confirmPassword')?.touched
                            ) {
                                <p class="red">This field is required.</p>
                            } @else if (
                                signupForm.hasError('passwordMismatch') &&
                                signupForm.get('confirmPassword')?.touched
                            ) {
                                <p class="red">Passwords do not match.</p>
                            } @else {
                                <p class="hidden">.</p>
                            }
                        </div>

                        <div class="accept-privacy">
                            <input
                                type="checkbox"
                                id="accept-privacy"
                                name="accept-privacy"
                                formControlName="acceptPrivacy"
                            />
                            <label for="accept-privacy">I accept the Privacy policy</label>
                        </div>
                    </div>

                    <div class="signup-actions">
                        <button class="signup-btn" type="submit" [disabled]="signupForm.invalid">
                            <span>Sign up</span>
                        </button>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <footer>
        <a (click)="saveForm()" href="/privacy">Privacy Policy</a>
        <a (click)="saveForm()" href="/legal">Legal Notice</a>
    </footer>
</div>
