<section id="summary">
    <div class="summary-heading">
        <div class="headline_area">
            <h1>Join 360</h1>
        </div>
        <div class="heading-line" aria-hidden="true"></div>
        <p>Key Metrics at a glance</p>
    </div>
    <div class="summary-content">
        <div class="metrics column">
            <div class="metrics-wrapper column">
                <div class="metrics-box card-wrapper row">

                    <button [routerLink]="['/board']" class="metrics-box two row">
                        <div class="centered" id="todo-icon"></div>
                        <div class="column centered">
                            <p class="row big-number">{{ tasksByStatus(status.todo) }}</p>
                            <p class="status-text">To do</p>
                        </div>
                    </button>

                    <button [routerLink]="['/board']" class="metrics-box two row">
                        <div class="centered" id="done-icon"></div>
                        <div class="column centered">
                            <p class="row big-number">{{ tasksByStatus(status.done) }}</p>
                            <p class="status-text">Done</p>
                        </div>
                    </button>
                </div>

                <button [routerLink]="['/board']" class="card-wrapper row one">
                    @if (urgentUndoneTasks() > 0) {
                        <div class="row two centered">
                            <div>
                                <img
                                    class="metrics-icon"
                                    src="icons/summary-urgent-red.svg"
                                    alt="urgent"
                                />
                            </div>
                            <div class="column centered">
                                <p class="big-number">{{ urgentUndoneTasks() }}</p>
                                <p class="status-text">Urgent</p>
                            </div>
                        </div>
                    } @else if (urgentUndoneTasks() == 0) {
                        <div class="centered two">
                            <p class="no-task-text">
                                There is currently no uncompleted 'Urgent' task. 🥳
                            </p>
                        </div>
                    }
                    <div class="centered">
                        <img src="icons/summary-metrics-vertical-grey-line.svg" alt="" />
                    </div>
                    <div class="column two">
                        @if (dueDateUpcoming()) {
                            <p class="due-date">{{ displayedDueDate() | date: 'longDate' }}</p>
                            <p class="deadline-text">Upcoming Deadline</p>
                        } @else {
                            <p class="due-date red">{{ displayedDueDate() | date: 'longDate' }}</p>
                            <p class="deadline-text red">Missed Deadline</p>
                        }
                    </div>
                </button>

                <div class="metrics-box card-wrapper row three">
                    <button [routerLink]="['/board']" class="metrics-box three column centered">
                        <p class="big-number">{{ totalNumberOfTasks() }}</p>
                        <p class="status-text">Tasks in board</p>
                    </button>
                    <button [routerLink]="['/board']" class="metrics-box three column centered">
                        <p class="big-number">{{ tasksByStatus(status.inProgress) }}</p>
                        <p class="status-text">Tasks in progress</p>
                    </button>
                    <button [routerLink]="['/board']" class="metrics-box three column centered">
                        <p class="big-number">{{ tasksByStatus(status.awaitFeedback) }}</p>
                        <p class="status-text">Awaiting feedback</p>
                    </button>
                </div>
            </div>
        </div>
        <div class="welcome-section column centered">
            @switch (true) {
                @case (getTimeOfDay() < 12) {
                    <p class="welcome-message">Good morning,</p>
                }
                @case (12 <= getTimeOfDay() &&  getTimeOfDay() < 18) {
                    <p class="welcome-message">Good afternoon,</p>
                }
                @case (18 <= getTimeOfDay()) {
                    <p class="welcome-message">Good evening,</p>
                }
            }
            <p class="username">{{ authService.currentUser()!.name }}</p>
        </div>
    </div>

</section>