<section id="summary">
    <div class="summary-heading">
        <div class="headline_area">
            <h1>Join 360</h1>
        </div>
        <div class="heading-line" aria-hidden="true"></div>
        <p>Key Metrics at a glance</p>
    </div>
    <div class="summary-content row">
        <div class="metrics column">
            <div class="metrics-wrapper column">
                <div class="metrics-box card-wrapper row">
                    <div class="metrics-box two row">1 todo</div>
                    <div class="metrics-box two row">1 done</div>
                </div>
                <div class="card-wrapper row one">
                    <div>1 urgent</div>
                    <div>due date</div>
                </div>
                <div class="metrics-box card-wrapper row three">
                    <div class="metrics-box three column">
                        <p class="number">NUMBER</p>
                        <p class="text">Tasks in board</p>
                    </div>
                    <div class="metrics-box three column">
                        <p class="number">NUMBER</p>
                        <p class="text">Tasks in board</p>
                    </div>
                    <div class="metrics-box three column">
                        <p class="number">NUMBER</p>
                        <p class="text">Tasks in board</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="welcome-message">
            <p>HELLO!!!</p>
        </div>
    </div>
</section>
