<!-- edit mode and then add mode -->
@if (receivedModeIsEdit() && contactToEdit(); as contact) {
    <section class="dialog edit-dialog">
        <button class="close-btn" type="button" aria-label="Close" (click)="closeClick()">
            <!-- <img src="icons/close-blue.svg" alt="" /> -->
            <p>&#128473;</p>
        </button>

        <div class="dialog-header">
            <img src="img/logo-white.svg" alt="join logo" />
            <div class="dialog-heading">
                <h1 id="dialog-headline">Edit Contact</h1>
                <div class="heading-line-dialog" aria-hidden="true"></div>
            </div>
        </div>

        <div class="dialog-content">
            <div class="contact-profile">
                <div class="profile-picture" [style.background]="contact.profile_color">
                    <p class="initials">{{ contact.name | initials }}</p>
                </div>
            </div>

            <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="formSubmit()">
                <div class="form-fields">
                    <div class="form-field">
                        <label for="name"></label>
                        <div class="input-wrapper">
                            <input id="name" name="name" type="text" placeholder="Name" formControlName="name" />
                            <img src="icons/person.svg" alt="profile icon" />
                        </div>
                        <div class="form-error-wrapper">
                            @if (name?.touched && name?.invalid) {
                                <p class="form-error">Please enter your name and surname!</p>
                            }
                        </div>
                    </div>
                    <div class="form-field">
                        <label for="email"></label>
                        <div class="input-wrapper">
                            <input id="email" name="email" type="email" placeholder="Email" formControlName="email"/>
                            <img src="icons/mail.svg" alt="profile icon" />
                        </div>
                         <div class="form-error-wrapper">
                            @if (email?.touched && email?.invalid) {
                                <p class="form-error">Please enter a valid email!</p>
                            }
                        </div>
                    </div>
                    <div class="form-field">
                        <label for="phone"></label>

                        <div class="input-wrapper">
                            <input id="phone" name="phone" type="tel" placeholder="Phone" formControlName="phone"/>
                            <img src="icons/call.svg" alt="profile icon" />
                        </div>

                          <div class="form-error-wrapper">
                            @if (phone?.touched && phone?.invalid) {
                                <p class="form-error">Please enter a valid phone number!</p>
                            }
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="button" class="delete-btn" (click)="deleteRequestClick()">Delete</button>
                    <button type="submit" class="save-btn">
                        <span>Save</span> <img src="icons/checkmark-white.svg" />
                    </button>
                </div>
                <!-- <button type="button" (click)="patchForm()">patchForm</button> -->
            </form>
        </div>
    </section>
} @else {
    <section class="dialog add-dialog">
        <button class="close-btn" type="button" aria-label="Close" (click)="closeClick()">
            <!-- <img src="icons/close-blue.svg" alt="" /> -->
            <p>&#128473;</p>
        </button>

        <div class="dialog-header">
            <img src="img/logo-white.svg" alt="join logo" />
            <div class="dialog-heading">
                <h1 id="dialog-headline">Add Contact</h1>
                <p class="dialog-subheading">Tasks are better with a team!</p>
                <div class="heading-line-dialog" aria-hidden="true"></div>
            </div>
        </div>

        <div class="dialog-content">
            <div class="contact-profile">
                <div class="profile-picture">
                    <img src="icons/person-white.svg" />
                </div>
            </div>

            <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="formSubmit()">
                <div class="form-fields">
                    <div class="form-field">
                        <label for="name"></label>
                        <div class="input-wrapper">
                            <input
                                id="name"
                                name="name"
                                type="text"
                                placeholder="Name"
                                formControlName="name"
                            />
                            <img src="icons/person.svg" alt="profile icon" />
                        </div>
                        <div class="form-error-wrapper">
                            @if (name?.touched && name?.invalid) {
                                <p class="form-error">Please enter your name and surname!</p>
                            }
                        </div>
                    </div>

                    <div class="form-field">
                        <label for="email"></label>
                        <div class="input-wrapper">
                            <input
                                id="email"
                                name="email"
                                type="email"
                                placeholder="Email"
                                formControlName="email"
                            />
                            <img src="icons/mail.svg" alt="profile icon" />
                        </div>
                        <div class="form-error-wrapper">
                            @if (email?.touched && email?.invalid) {
                                <p class="form-error">Please enter a valid email!</p>
                            }
                        </div>
                    </div>

                    <div class="form-field">
                        <label for="phone"></label>

                        <div class="input-wrapper">
                            <input
                                id="phone"
                                name="phone"
                                type="tel"
                                placeholder="Phone"
                                formControlName="phone"
                            />
                            <img src="icons/call.svg" alt="profile icon" />
                        </div>
                        <div class="form-error-wrapper">
                            @if (phone?.touched && phone?.invalid) {
                                <p class="form-error">Please enter a valid phone number!</p>
                            }
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="button" class="cancel-btn" (click)="closeClick()">
                        <span>Cancel</span><img src="icons/close-blue.svg" />
                    </button>
                    <button
                        type="submit"
                        class="create-btn"
                        [disabled]="contactForm.invalid"
                    >
                        <span>Create contact</span> <img src="icons/checkmark-white.svg" />
                    </button>
                </div>
            </form>
        </div>
    </section>
}