@use '../../../../../public/styles/main' as *;

.dialog {
    width: 100%;
    height: 100%;
    background: $white;
    @include d-flex(row, center, center);
    border-radius: 30px;

    @include respond(zero, sm) {
        border-radius: 0;
        @include d-flex(column, center, center);
    }

    .close-btn {
        position: absolute;
        z-index: 20;
        top: 20px;
        right: 20px;

        width: 40px;
        height: 40px;
        cursor: pointer;

        @include d-flex;

        p {
            font-size: 16px;
            color: $blue-main;

            @include respond(zero, sm) {
                font-size: 16px;
                color: $white;
            }
        }
        // img {
        //     width: 24px;
        //     height: 24px;
        // }
    }

    .dialog-header {
        background: $blue-main;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        height: 100%;
        width: 40%;
        @include d-flex(column, flex-start, center, 40px);
        padding: 30px;

        @include respond(zero, sm) {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            width: 100%;
            height: 40%;

            img {
                display: none;
            }
        }

        img {
            width: 54px;
            height: auto;
        }

        .dialog-heading {
            @include d-flex(column, flex-start, center, 10px);

            #dialog-headline {
                @include font(60px, 700, 120%);
                color: $white;

                @include respond(zero, sm) {
                    @include font(42px, 700, 120%);
                }
            }

            .heading-line-dialog {
                width: 90px;
                height: 3px;
                background: $blue-bright;
            }
        }
    }

    .dialog-content {
        @include d-flex(row, center, center, 90px);
        width: 60%;
        height: 100%;

        .contact-profile {
            @include d-flex(row, center, flex-start, 50px);

            .profile-picture {
                background: #ff13f0;
                border: solid 4px white;
                height: 120px;
                width: 120px;

                border-radius: 50%;
                @include drop-shadow;

                @include d-flex;

                .initials {
                    color: white;
                    @include font(48px, 500, 120%);
                }
            }
        }

        .contact-form {
            width: fit-content;
            height: fit-content;
            @include d-flex(column, flex-start, center, 40px);

            .form-fields {
                @include d-flex(column, flex-start, center, 20px);

                .form-field {
                    @include d-flex;
                    padding: 0 10px;
                    border: solid 1px $blue-light;
                    border-radius: 10px;
                    width: 420px;
                    height: 50px;

                    .input-wrapper {
                        @include d-flex(row, center, space-between);
                        width: 100%;

                        input {
                            width: 100%;
                            height: 100%;
                        }

                        img {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }

            .form-actions {
                @include d-flex(row, center, center, 20px);

                .delete-btn {
                    @include outline-button;
                }

                .save-btn {
                    min-width: 115px;
                    width: fit-content;
                    height: 55px;
                    background: $blue-main;
                    border-radius: 8px;
                    padding: 15px 24px;
                    color: $white;
                    @include font(20px, 700, 120%);
                    @include d-flex(row, center, center, 10px);
                    cursor: pointer;

                    &:hover {
                        @include drop-shadow;
                        background: $blue-light;
                    }
                }
            }
        }
    }
}

.add-dialog {
    .dialog-header {
        .dialog-heading {
            .dialog-subheading {
                color: $white;
                @include font(28px, 400, 120%);

                @include respond(zero, sm) {
                    @include font(20px, 400, 120%);
                }
            }
        }
    }

    .dialog-content {
        .contact-profile {
            .profile-picture {
                background: $grey-light;
            }
        }
    }

    .contact-form {
        .form-actions {
            .cancel-btn {
                @include outline-button;
                width: 150px;
                @include d-flex(row, center, center, 10px);
            }

            .create-btn {
                min-width: 115px;
                width: fit-content;
                height: 55px;
                background: $blue-main;
                border-radius: 8px;
                padding: 15px 24px;
                color: $white;
                @include font(20px, 700, 120%);
                @include d-flex(row, center, center, 10px);
                cursor: pointer;

                &:hover {
                    @include drop-shadow;
                    background: $blue-light;
                }
            }
        }
    }
}
