@use '../../../../../public/styles/main' as *;

.dialog {
    width: 100%;
    height: 100%;
    background: $white;
    @include d-flex(row, center, center);
    border-radius: 30px;

    @include respond(zero, sm) {
        border-radius: 0;
        @include d-flex(column, center, center);
    }

    .close-btn {
        position: absolute;
        z-index: 20;
        top: 20px;
        right: 20px;

        width: 40px;
        height: 40px;
        cursor: pointer;

        @include d-flex;

        p {
            font-size: 16px;
            color: $blue-main;

            @include respond(zero, sm) {
                font-size: 16px;
                color: $white;
            }
        }
    }

    .dialog-header {
        background: $blue-main;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        height: 100%;
        width: 40%;
        @include d-flex(column, flex-start, center, 40px);
        padding: 30px;

        @include respond(zero, sm) {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            width: 100%;
            height: 40%;
            padding: 100px 30px;

            img {
                display: none;
            }
        }

        img {
            width: 54px;
            height: auto;
        }

        .dialog-heading {
            @include d-flex(column, flex-start, center, 10px);

            #dialog-headline {
                @include font(60px, 700, 120%);
                color: $white;

                @include respond(zero, sm) {
                    @include font(42px, 700, 120%);
                }
            }

            .heading-line-dialog {
                width: 90px;
                height: 3px;
                background: $blue-bright;
            }
        }
    }

    // #region edit dialog
    .dialog-content {
        @include d-flex(row, center, center, 90px);
        width: 60%;
        height: 100%;

        @include respond(zero, sm) {
            @include d-flex(column, center, center, 90px);
        }

        @include respond(m, l) {
            @include d-flex(row, center, center, 30px);
        }

        .contact-profile {
            @include d-flex(row, center, flex-start, 50px);

            @include respond(zero, sm) {
                position: fixed;
                top: 30%;
            }

            @include respond(m, l) {
                @include d-flex(row, center, flex-start, 20px);
            }

            .profile-picture {
                background: #ff13f0;
                border: solid 4px white;
                height: 120px;
                width: 120px;

                border-radius: 50%;
                @include drop-shadow;

                @include d-flex;

                @include respond(m, l) {
                    height: 100px;
                    width: 100px;
                }

                .initials {
                    color: white;
                    @include font(48px, 500, 120%);

                    @include respond(m, l) {
                        @include font(36px, 500, 120%);
                    }
                }
            }
        }

        .contact-form {
            width: fit-content;
            height: fit-content;
            @include d-flex(column, flex-start, center, 20px);

            @include respond(zero, sm) {
                @include d-flex(column, center, center, 20px);
            }

            .form-fields {
                @include d-flex(column, flex-start, center, 5px);

                @include respond(zero, sm) {
                    @include d-flex(column, center, center, 15px);
                    width: 100dvw;
                    height: fit-content;
                }

                .form-field {
                    @include d-flex(column, flex-start, flex-start);
                    width: 420px;
                    height: fit-content;

                    @include respond(zero, sm) {
                        width: 90%;
                    }

                    .input-wrapper {
                        @include d-flex(row, center, space-between);
                        width: 100%;
                        min-height: 50px;
                        padding: 0 10px;
                        border: solid 1px $blue-light;
                        border-radius: 10px;

                        @include respond(zero, sm) {
                            min-height: 40px;
                        }

                        input {
                            width: 100%;
                            height: 100%;
                        }

                        img {
                            width: 16px;
                            height: 16px;
                        }
                    }

                    .form-error-wrapper {
                        // height: 30px;

                        min-height: 20px;
                        width: 100%;
                        padding-left: 5px;

                        @include respond(zero, sm) {
                            min-height: 18px;
                        }

                        .form-error {
                            font-size: 16px;
                            color: red;

                            @include respond(zero, sm) {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

        .form-actions {
            @include d-flex(row, center, center, 20px);

            .delete-btn {
                @include outline-button;

                @include respond(zero, sm) {
                    width: 100px;
                }
            }

            .save-btn {
                @include colored-button;
            }
        }
    }
}

// #endregion

.add-dialog {
    .dialog-header {
        .dialog-heading {
            .dialog-subheading {
                color: $white;
                @include font(28px, 400, 120%);

                @include respond(zero, sm) {
                    @include font(18px, 400, 120%);
                }
            }
        }
    }

    .dialog-content {
        .contact-profile {
            .profile-picture {
                background: $grey-light;
            }
        }
    }

    .contact-form {
        .form-actions {
            .cancel-btn {
                @include outline-button;
                width: 150px;
                @include d-flex(row, center, center, 10px);

                @include respond(zero, sm) {
                    width: 110px;
                    @include font(18px, 400, 120%);
                }
            }

            .create-btn {
                @include colored-button;

                @include respond(zero, sm) {
                    width: 110px;
                    @include font(18px, 400, 120%);
                }
            }
        }
    }
}
