<div class="content-restriction">
    <header class="login-header">
        <img src="img/join-logo.svg" alt="join logo" />
        <div class="login-header-actions">
            <p>Not a Join user?</p>
            <button class="signup-btn" type="button" (click)="goToSignUp()">
                <span>Sign up</span>
            </button>
        </div>
    </header>

    <main>
        <section class="login-box">
            <div class="login-wrapper">
                <div class="login-header">
                    <h1>Log in</h1>
                    <div class="divider"></div>
                </div>

                <form class="login-form login" [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="input-fields">
                        <div class="input-field-div">
                            <label for="email"></label>
                            <div class="input-wrapper">
                                <input
                                    id="email"
                                    class="input-field cursor"
                                    type="email"
                                    name="email"
                                    placeholder="Email"
                                    formControlName="email"
                                />
                                <img src="icons/mail.svg" alt="join logo" />
                            </div>
                            @if (
                                loginForm.get('email')?.hasError('required') &&
                                loginForm.get('email')?.touched
                            ) {
                                <p class="red">This field is required.</p>
                            } @else if (loginForm.hasError('wrongEmail')) {
                                <p class="red">Email address not found.</p>
                            } @else {
                                <p class="hidden">.</p>
                            }
                        </div>

                        <div class="input-field-div">
                            <label for="password"></label>
                            <div class="input-wrapper">
                                <input
                                    id="password"
                                    class="input-field cursor"
                                    type="password"
                                    name="password"
                                    placeholder="Password"
                                    formControlName="password"
                                />
                                <img src="icons/lock.svg" alt="join logo" />
                            </div>
                            @if (
                                loginForm.get('password')?.hasError('required') &&
                                loginForm.get('password')?.touched
                            ) {
                                <p class="red">This field is required.</p>
                            } @else if (loginForm.hasError('wrongPassword')) {
                                <p class="red">Wrong password.</p>
                            } @else {
                                <p class="hidden">.</p>
                            }
                        </div>
                    </div>

                    <div class="login-actions">
                        <button class="login-btn" type="submit"><span>Log in</span></button>
                        <button class="login-btn guest" type="button" (click)="guestLogin()">
                            <span>Guest log in </span>
                        </button>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <footer>
        <a href="/privacy">Privacy Policy</a>

        <a href="/legal">Legal Notice</a>
    </footer>
</div>
