@use 'mixins' as *;
$blue-bright: #29abe2; //--> hover hell for buttons that are directly visible on page (add new contact button)
$blue-light: #124658; //-> hover for buttons in dialog
$blue-hover-nav: #2a3d59; // -> hover navigation button
$blue-main: #2a3647; //main blue for background in navigation
$blue-dark: #091931; //darkest blue --> buttons, onclick

$grey-bg: #f6f7f8; //background board
$grey-light: #cdcdcd; // ->same as #d1d1d1 Navigation Text; anonymius background filler
$grey-medium: #6b6b6bb6; // -> form text aktives feld --> 71% -> form text nicht aktiv
$grey-hover: #0c2e621f; // 12% -> Initialen background

$black: #000000;
$white: #ffffff; // text on dark buttons ; text when active

$height-header: 100px;
// --width-aside: 230px;
$content-rest: 1440px;

:root {
    --width-aside: 230px;
    --height-navbar-res: 0px;

    @include respond-max(l) {
        --width-aside: 180px;
    }
        @include respond-max(m) {
        --width-aside: 0px;
        --height-navbar-res: 80px;
    }
}
