@use 'mixins' as *;
$blue-bright: #29abe2; //--> hover hell for buttons that are directly visible on page (add new contact button)
$blue-light: #124658; //-> hover for buttons in dialog
$blue-hover-nav: #2a3d59; // -> hover navigation button
$blue-main: #2a3647; //main blue for background in navigation
$blue-dark: #091931; //darkest blue --> buttons, onclick
$blue-email: #007cee; // email address in contact preview card
$blue-category: #0038FF;
$blue-taskbar: #4589FF;

$grey-bg: #f6f7f8; //background board
$grey-bright: #E7E7E7;
$grey-light: #cdcdcd; // ->same as #d1d1d1 Navigation Text; anonymius background filler
$grey-medium: #6b6b6bb6; // -> form text aktives feld --> 71% -> form text nicht aktiv
$grey-hover: #0c2e621f; // 12% -> Initialen background

$black: #000000;
$white: #ffffff; // text on dark buttons ; text when active

$green-category: #1FD7C1;


$height-header: 100px;
// --width-aside: 230px;
$content-rest: 1440px;

:root {
    --width-aside: 230px;
    --height-navbar-res: 0px;

    @include respond-max(l) {
        --width-aside: 180px;
    }
    @include respond-max(m) {
        --width-aside: 0px;
        --height-navbar-res: 80px;
    }
    // @each $color in $profileColors {
    //     --profile-#{index($profileColors, $color)}: #{$color};
    // }
}

//#region Profile Colors - WIP
/* $profileColors: (
    orange-one: #ff7a00,
    pink-one: #ff5eb3,
    blue-one: #6e52ff,
    purple: #9327ff,
    light-blue: #00bee8,
    light-teal: #1fd7c1,
    orange-two: #ff745e,
    orange-three: #ffa35e,
    pink-two: #fc71ff,
    yellow-one: #ffc701,
    blue-two: #0038ff,
    lime: #c3ff2b,
    yellow-two: #ffe62b,
    red: #ff4646,
    orange-four: #ffbb2b,
); */

// https://codepen.io/DeptofJeffAyer/pen/dYaBdN
/*Step 1: Make some colors*/
$orange-one: #ff7a00;
$pink-one: #ff5eb3;
$blue-one: #6e52ff;
$purple: #9327ff;
$light-blue: #00bee8;
$light-teal: #1fd7c1;
$orange-two: #ff745e;
$orange-three: #ffa35e;
$pink-two: #fc71ff;
$yellow-one: #ffc701;
$blue-two: #0038ff;
$lime: #c3ff2b;
$yellow-two: #ffe62b;
$red: #ff4646;
$orange-four: #ffbb2b;

/*Step 2: Add the colors to a list*/
$profileColors:
    $orange-one, $pink-one, $blue-one, $purple, $light-blue, $light-teal, $orange-two,
    $orange-three, $pink-two, $yellow-one, $blue-two, $lime, $yellow-two, $red, $orange-four;

/*Step 3: Create a mixin to grab a random color from the list*/
@mixin bg-color() {
    /*generate a random number between 1 and the length of the list*/
    $random-color: random(length($profileColors));

    /*return an item from the list based on the random number*/
    background: nth($profileColors, $random-color);
}

//Example:
.column {
    float: left;
    width: 33%;

    .item {
        width: 100%;
        min-height: 100px;
    }
}

@for $i from 1 through 3 {
    .column:nth-child(#{$i}) {
        @for $i from 1 through 20 {
            .item:nth-child(#{$i}) {
                /*use the mixin to generate a random background color*/
                @include bg-color;
            }
        }
    }
}
//#endregion
