@use '../../../../public/styles/main' as *;

p{
    padding-bottom: 8px;
}

ul{
    li{
        margin-left: 30px;
    }
}

.privacy-section {
    width: 100%;
    height: 100%;
    padding: 60px;
    overflow-y: auto;
    @include respond-max(sm) {
        padding: 30px 16px;
    }

    .privacy-wrapper {
        @include d-flex(column, flex-start, center, 30px);

        .privacy-heading {
            width: 100%;

            @include d-flex(row, center, space-between);

            @include respond(zero, galaxy9) {
                h1 {
                    font-size: 36px;
                }
            }

            .back-btn-privacy {
                width: fit-content;
                height: fit-content;
                cursor: pointer;
                display: none;

                @include respond(zero, m) {
                    display: block;
                }

                img {
                    width: 22px;
                    height: auto;
                }
            }
        }

        .privacy-content {
            @include d-flex(column, flex-start, center, 30px);
            .privacy-paragraph {
                @include d-flex(column, flex-start, center, 10px);
                .subtitle {
                    @include font(28px, 700, 120%);
                }
            }
        }
    }
}
