@use '../../../../../public/styles/main' as *;

.contact-card {
    height: 100%;
    width: 100%;
    padding: 100px 3rem;
    @include respond-max(l) {
        padding: 3rem 1.25rem;
    }
    @include d-flex(column, flex-start, flex-start, 40px);

    .contact-card-heading {
        @include d-flex(row, center, flex-start, 25px);

        // h1 {
        //     @include font(60px, 700);
        // }

        .heading-line {
            height: 60px;
            width: 3px;
            background: $blue-bright;
        }

        p {
            @include font(28px, 400, 120%);
            color: $blue-main;
        }
        @include respond-max(l) {
            flex-direction: column;
            gap: 0.25rem;
            align-items: flex-start;
            p {
                font-size: 1.25rem;
            }
            .heading-line {
                width: 60px;
                height: 3px;
            }
        }
    }
    .contact-card-content {
        width: 100%;
        @include d-flex(column, flex-start, flex-start, 50px);

        .contact-profile {
            width: 100%;
            @include d-flex(row, center, flex-start, 24px);

            .profile-picture {
                // background: #ff13f0;
                border: solid 4px white;
                height: 120px;
                width: 120px;

                border-radius: 50%;
                @include drop-shadow;

                @include d-flex;

                .initials {
                    color: white;
                    @include font(48px, 500, 120%);
                }
                @include respond-max(l) {
                    display: none;
                }
            }

            .contact-details {
                width: calc(100% - 150px);
                @include respond-max(l) {
                    width: 100%;
                }

                container-type: inline-size;
                @include d-flex(column, flex-start, center, 10px);

                .contact-card-htwo {
                    max-width: 475px;
                    width: 100%;

                    h2 {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        margin: 0;
                        width: 100%;
                        @include font(48px, 600, 120%);
                        @include respond-max(l) {
                            font-size: 2rem;
                        }
                        // @media screen and (min-width: 550px) {
                        //     font-size: 1rem;
                        // }
                    }
                }

                .contact-actions {
                    @include d-flex(row, center, center, 20px);

                    .contact-actions-btn {
                        @include d-flex(row, center, center, 4px);

                        img {
                            height: 24px;
                            width: auto;
                        }

                        span {
                            color: $blue-main;
                            min-width: 32px;

                            &:hover {
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }

        .contact-information {
            @include d-flex(column, flex-start, flex-start, 35px);

            h3 {
                @include font(20px, 400, 120%);
            }

            .contact-fields {
                @include d-flex(column, flex-start, flex-start, 25px);

                .contact-field {
                    @include d-flex(column, flex-start, flex-start, 10px);
                    p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    h4 {
                        @include font(16px, 700, 120%);
                    }
                }
            }
        }
    }
}

.highlight {
    color: $blue-bright;
}
