<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <label for="title">Title: </label>
    <input id="title" type="text" formControlName="title" />

    <label for="description">Description: </label>
    <input id="description" type="text" formControlName="description" />

    <label for="due-date">Due Date: </label>
    <input id="due-date" type="date" formControlName="dueDate" />

    <label for="priority">Priority: </label>
    <select formControlName="priority">
        <option>Choose a category</option>
        @for (category of categories; track $index) {
            <option>{{ category }}</option>
        }
    </select>
    <button type="submit" [disabled]="!taskForm.valid">Save</button>
</form>
