@use '../../../../public/styles/main' as *;

/* main {
    @include respond(zero, m) {
        height: calc(100% - $height-header - 80px);
        overflow-y: scroll;
    }
} */

#add-task {
    width: 100%;
    height: 100%;
    max-height: 900px;
    @include d-flex(column, flex-start, flex-start, 32px);
    padding: 32px;
    @include respond(zero, m) {
        max-height: calc(100dvh - $height-header - 80px);
        @include d-flex(column, flex-start, flex-start, 16px);
        padding: 16px;
    }

    h1 {
        height: fit-content;
        width: 100%;
    }

    .add-task-header {
        width: 100%;
        @include d-flex(row, center, space-between);

        .close-btn-x {
            font-size: 24px;
            color: $blue-main;
        }
    }

    #taskform {
        width: 100%;
        height: 100%;
        @include d-flex(column, center, center, 0px);

        .red {
            color: red;
        }

        .hidden {
            color: white;
        }

        #taskform-content {
            width: 100%;
            height: 85%;
            @include d-flex(row, center, space-between, 0px);
            @include respond(zero, m) {
                height: 90%;
                overflow-y: scroll;
                @include d-flex(column, center, flex-start, 16px);
            }

            #column-separation-line {
                justify-self: center;
                height: 100%;
                width: fit-content;

                @include respond(zero, m) {
                    display: none;
                }

                img {
                    height: 100%;
                }
            }

            .form-column {
                width: 45%;
                height: 100%;
                @include d-flex(column, flex-start, space-between);

                .input-fields-group {
                    width: 100%;
                    // height: 85%;
                    height: 100%;
                    min-height: 0;
                    @include d-flex(column, flex-start, flex-start, 16px);

                    #priority {
                        width: 100%;
                        @include d-flex(row, center, space-between, 0px);

                        .priority-button {
                            width: 30%;
                            height: 50px;
                            border-radius: 10px;
                            box-shadow:
                                0px 0px 3px rgba(3, 7, 18, 0.5),
                                0px 0px 12px rgba(3, 7, 18, 0.1),
                                0px 0px 28px rgba(3, 7, 18, 0.1);
                            @include d-flex(row, center, center, 8px);
                            p {
                                @include font(20px, 400, 120%);
                                @include respond(zero, l) {
                                    @include font(16px, 400, 100%);
                                }
                            }

                            .priority-icon {
                                width: 20px;
                                height: 20px;
                                background-repeat: no-repeat;
                                background-position: center center;
                                @include respond(zero, l) {
                                    width: 12px;
                                    height: 12px;
                                }
                            }
                        }
                        .priority-button:hover {
                            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
                        }
                        .priority-urgent {
                            .icon-urgent {
                                background-image: url(../../../../public/icons/priority-high.svg);
                            }
                        }
                        .urgent-clicked {
                            background-color: #ff3d00;
                            color: white;
                            .icon-urgent {
                                background-image: url(../../../../public/icons/priority-high-white.svg);
                            }
                        }

                        .priority-medium {
                            .icon-medium {
                                background-image: url(../../../../public/icons/priority-medium.svg);
                            }
                        }
                        .medium-selected {
                            background-color: #ffa800;
                            color: white;
                            .icon-medium {
                                background-image: url(../../../../public/icons/priority-medium-white.svg);
                            }
                        }
                        .priority-low {
                            .icon-low {
                                background-image: url(../../../../public/icons/priority-low.svg);
                            }
                        }
                        .low-selected {
                            background-color: #7ae229;
                            color: white;
                            .icon-low {
                                background-image: url(../../../../public/icons/priority-low-white.svg);
                            }
                        }
                    }

                    #assignees {
                        .initials {
                            width: 40px;
                            height: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            border: 3px solid white;
                        }

                        #assignee-dropdown, #edit-assignee-dropdown{
                            @include d-flex(row, center, space-between, 0px);
                            cursor: pointer;

                            .arrow-down {
                                width: 20px;
                                height: 20px;
                                background-image: url(../../../../public/icons/dropdown-open.svg);
                                background-repeat: no-repeat;
                                background-position: center center;
                            }

                            .arrow-up {
                                width: 20px;
                                height: 20px;
                                background-image: url(../../../../public/icons/dropdown-close.svg);
                                background-repeat: no-repeat;
                                background-position: center center;
                            }
                        }

                        #list-of-assignees, #edit-list-of-assignees{
                            background-color: white;
                            padding: 4px;
                            border-radius: 10px;
                            @include drop-shadow;
                            border-radius: 10px;
                            position: absolute;
                            top: 60px;
                            width: 100%;
                            height: 300px;
                            overflow-y: scroll;
                            z-index: 1;
                            cursor: pointer;

                            .assignee-box {
                                height: 56px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                width: 100%;
                                border-radius: 10px;
                                padding: 8px;
                                @include d-flex(row, center, flex-start, 8px);

                                .label {
                                    width: 80%;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    text-align: left;
                                }

                                .assignee-checkbox {
                                    height: 25px;
                                    width: 25px;
                                    background-image: url(../../../../public/icons/checkbox-clear.svg);
                                    background-repeat: no-repeat;
                                    background-position: center center;
                                }
                            }
                            .assignee-box:hover {
                                background-color: $grey-bright;
                                cursor: pointer;
                            }
                            .assigned {
                                background-color: $blue-main;
                                color: white;
                                .assignee-checkbox {
                                    background-image: url(../../../../public/icons/checkbox-checked-white.svg);
                                }
                            }
                            .assigned:hover {
                                background-color: $blue-dark;
                                cursor: pointer;
                            }
                        }

                        #assigned-contacts-avatars {
                            width: 100%;
                            max-height: 100px;
                            height: fit-content;
                            flex-wrap: wrap;
                            overflow-y: auto;
                            @include d-flex(row, flex-start, flex-start, 8px);
                        }
                    }

                    #subtasks {
                        .subtasks-btn {
                            width: 100%;
                            @include d-flex(column, flex-start, flex-start);

                            #input-subtask {
                                height: 30px;
                                width: 100%;
                                cursor: pointer;

                                padding-right: 90px;

                                @include scrollbar;

                                resize: none;
                                overflow-wrap: anywhere;
                            }

                            .subtask-actions {
                                position: absolute;
                                right: 10px;
                                top: 30%;
                                transform: translateY(-50%);
                                @include d-flex(row, center, center, 8px);

                                .divider {
                                    width: 1px;
                                    height: 24px;
                                    background: $grey-medium;
                                }

                                .subtask-add-btn,
                                .subtask-delete-btn {
                                    padding: 0;
                                    cursor: pointer;

                                    height: 24px;
                                    width: 24px;

                                    @include d-flex;

                                    &:hover {
                                        background: $grey-bright;
                                        border-radius: 50%;
                                    }
                                }
                            }
                        }
                    }

                    .input-field-div {
                        width: 100%;
                        @include d-flex(column, flex-start, flex-start, 8px);

                        .input-field-title {
                            @include font(20px);
                            color: $blue-main;
                        }

                        #description {
                            width: 100%;
                            height: 150px;
                        }

                        .input-field {
                            width: 100%;
                            min-height: 30px;
                            resize: none;
                            @include d-flex(column, 16px);
                            border: 1px solid black;
                            border-radius: 8px;
                            padding: 4px 8px;
                            resize: none;
                            cursor: pointer;
                            &::placeholder {
                                color: $grey-medium;
                            }
                        }
                    }

                    .subtask-items {
                        width: 100%;
                        flex: 1;
                        min-height: 0;
                        max-height: 100px;
                        overflow-y: auto;

                        @include scrollbar;

                        .subtask-item {
                            @include d-flex(row, center, space-between);
                            width: 100%;
                            height: fit-content;
                            min-height: 24px;
                            padding: 4px 16px;

                            .subtask-content {
                                @include d-flex(row, center, flex-start, 8px);
                                // flex: 1;
                                // min-width: 0;
                                width: 80%;

                                label {
                                    overflow-wrap: anywhere;
                                }
                            }

                            .added-subtask-actions {
                                width: fit-content;
                                height: 24px;

                                @include d-flex(row, center, center, 10px);

                                visibility: hidden;
                                opacity: 0;
                            }

                            &:hover {
                                background: $grey-bright;
                                border-radius: 15px;

                                .added-subtask-actions {
                                    visibility: visible;
                                    opacity: 1;

                                    .added-divider {
                                        width: 1px;
                                        height: 16px;
                                        background: $grey-medium;
                                    }

                                    .added-subtask-delete-btn,
                                    .added-subtask-edit-btn {
                                        padding: 0;
                                        cursor: pointer;

                                        height: 16px;
                                        width: 16px;

                                        @include d-flex;
                                    }
                                }
                            }
                        }
                    }

                    .subtask-edit {
                        @include d-flex(row, center, center);
                        width: 100%;
                        height: fit-content;
                        min-height: 24px;
                        // padding: 4px 16px;

                        .subtask-edit-content {
                            @include d-flex(row, center, space-between, 8px);
                            // flex: 1;
                            // min-width: 0;
                            width: 100%;

                            #editSubtask {
                                border-bottom: solid 1px $blue-main;
                                resize: none;
                                width: 100%;
                                height: 32px;
                                background: $white;

                                text-align: left;
                                padding: 5px 85px 5px 5px;

                                @include scrollbar;
                            }
                        }

                        .subtask-edit-actions {
                            width: fit-content;
                            height: 24px;
                            position: absolute;
                            right: 4px;
                            top: 8px;

                            @include d-flex(row, center, center, 10px);

                            .added-divider {
                                width: 1px;
                                height: 16px;
                                background: $grey-medium;
                            }
                        }
                    }
                }
            }
        }

        #taskform-footer {
            width: 100%;
            height: 15%;
            @include d-flex(row, flex-end, space-between);
            @include respond(zero, m){
                height: 10%;
                @include d-flex(row, center, space-between);
            }

            #disclaimer-text {
                width: fit-content;
                @include d-flex(row, flex-end, flex-end, 4px);
            }

            #create-or-clear {
                height: fit-content;
                width: fit-content;
                @include d-flex(row, center, flex-end, 16px);

                button {
                    @include font(24px);
                    padding: 16px;
                    border-radius: 10px;
                    @include d-flex(row, center, center, 8px);
                }
                .blue-on-white {
                    border: 1px solid $blue-main;
                    color: $blue-main;
                }
                .blue-on-white:hover {
                    border: 2px solid $blue-main;
                }
                .white-on-blue {
                    background-color: $blue-main;
                    color: white;
                }
                .white-on-blue:hover {
                    background-color: $blue-hover-nav;
                    box-shadow:
                        0px 0px 3px rgba(3, 7, 18, 0.5),
                        0px 0px 12px rgba(3, 7, 18, 0.1),
                        0px 0px 28px rgba(3, 7, 18, 0.1);
                }
            }
        }
    }

    .edit_form_submit {
        display: none;
        padding-bottom: 1rem;
    }
    &.edit-mode {
        padding-top:0;
        margin-top: -1rem;
        h1 {
            display: none;
        }
        #column-separation-line {
            display: none;
        }

        #taskform {
            #taskform-content {
                flex-direction: column;

                .form-column {
                    width: 100%;
                    height: auto;
                }
            }

            #taskform-footer {
                display: none;
            }
            .edit_form_submit {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: flex-end;
                button {
                    @include font(24px);
                    padding: 16px;
                    border: 2px solid $blue-main;
                    background: $blue-main;
                    color: white;
                    border-radius: 10px;
                    @include d-flex(row, center, center, 8px);
                }
            }
        }
    }
}

