@use '../public/styles/main' as *;

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    list-style: none;
    font-size: inherit;
    color: inherit;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background: initial;
    border: initial;
}

body{
    background: $grey-bg;
}

h1{
  font-size: 60px;
  font-weight: 700;
  line-height: 120%;
  color: black;
}