@if (alertService.alert(); as alert) {
    <!-- @switch (alert.type) { -->
        <!-- @case (alertType.Success) { -->
            <div class="alert success">
                <span>{{ alert.message }}</span>
            </div>
        <!-- }

        @case (alertType.Warning) {
            <div class="alert warning">
                <span>{{ alert.message }}</span>
            </div>
        }

        @case (alertType.Error) {
            <div class="alert error">
                <span>{{ alert.message }}</span>
            </div>
        }
    } -->
}
