@use '../../../../public/styles/main' as *;

.help-section {
    width: 100%;
    height: 100%;

    padding: 80px 80px;
    overflow-y: auto;

    @include respond-max(sm) {
        padding: 30px 16px;
    }
}

.help-wrapper {
    @include d-flex(column, center, center, 30px);

    .brand-name {
        color: $blue-light;
    }

    .help-heading {
        width: 100%;
        @include d-flex(column, space-between, center, 30px);

        div {
            @include d-flex(row, center, space-between);

            h1 {
                @include respond-max(sm) {
                    @include font(56px, 700, 120%);
                }
            }
            .close-btn-help {
                width: fit-content;
                height: fit-content;
                font-size: 40px;
                cursor: pointer;

                img {
                    width: 22px;
                    height: auto;
                }
            }
        }
    }

    .help-content {
        @include d-flex(column, space-between, center, 30px);

        .help-paragraph {
            @include d-flex(column, space-between, center, 10px);
            h2 {
                @include font(28px, 700, 120%);
            }

            .guide {
                margin-top: 10px;
                margin-bottom: 5px;
            }
        }
    }
}

#help-list {
    list-style: decimal;
    padding-left: 30px;
    @include d-flex(column, flex-start, flex-start, 10px);

    li {
        padding-left: 20px;

        &::marker {
            @include font(25px, 700);
            font-family: 'inter';
        }

        h3 {
            @include font(20px, 700, 120%);
            margin-bottom: 5px;
        }
    }
}
